<div class="row container-fluid" id="container">
	<div class="col-md-3 col-sm-6 profileSection">
		<div>
			<div class="profile well">
				<img src=<%= current_user.avatar.url %> class="img-circle img-responsive" style="display: block; padding: 10px;"> 
				<h4>@<%= current_user.username %>'s circle</h4>
		
				<p class="btn btn-success"><%= link_to 'My Profile', show_user_path(id: current_user.id)%></p>
			</div>
		</div>
	</div>

	<div class="col-md-9 col-sm-6 feed">
		<div>
			<h3>Here is what your friends are talking about:</h3>
			<% @following_tweets.reverse.each do |tweet| %>
			<div class="feedBox">
				<p>
					<%= image_tag tweet.user.avatar.url, size:40, class: "image-responive img-circle" %>
					<span class="name">
						<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %></span> @<%= tweet.user.username %>
					&#8226; <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %>
							<%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 86400 %>
				</p>
				<p><%= tweet.message.html_safe %></p>
			</div>
			<% end %>
		</div>
	</div>
</div>
