<h1><%= @user.username %>'s Profile</h1>



<div class="col-sm-3 box well">
    <div class="well">
        <img src=<%= @user.avatar.url %> class="img-rounded img-responsive" style="display: inline; padding: 10px">
        
        <div style="display: inline; margin: 10px">
            <p><%= @user.name %></p>
            <p><%= @user.location %></p>
            <p><%= @user.bio %></p>
            
            <p>
                <% if current_user.following.include?(@user.id) %>
                    <%= link_to "following", unfollow_path(id: @user.id), class: "btn btn-primary", id:"unfollow_btn" %>
                <% else %>
                    <% if current_user.id != @user.id %>
                    <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
                <% end %>
                <% end %>
            </p>
            
            <div class="well">
                <div>
                   <p class="text-left"><%= link_to following_path(id: @user.id) do %></p>
                    <p><%= @user.following.length%> Following </p>
                <% end %>
                <p class="text-right"><%= link_to followers_path(id: @user.id) do%></p>
                    <p><%= @user.followers.length%> Followers</p>
                <% end %> 
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="col-sm-7 content">
    <div class="row">
        <div class="col-md-12 col-sm-6 feed">
            <div>
                <% @user.tweets.reverse.each do |tweet| %>
                <div class="feedBox">
                    <p>
                        <%= image_tag tweet.user.avatar.url, size:40, class: "image-responive img-circle" %>
                        <span class="name">
                            <%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %></span> @<%= tweet.user.username %>
                        &#8226; <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %>
                                <%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 86400 %>
                    </p>
                    <p><%= tweet.message.html_safe %></p>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>




